:root {
    --main-bg-color: #FFFFFF;
    --second-bg-color: #F7F7F7;

    --first-color: #08A6E4;
    --second-color: #FB3B64;
    --third-color: #55DFB4;

    --main-font-color: #000000;
    --second-font-color: #707070;
    --third-font-color: #A5A5A5;
    --fourth-font-color: #13253B;

    --first-border-color: #E8E9ED;

    --first-shadow-color: #00000029;
    --second-shadow-color: #07ACE629;

    --contact-line-color: #95989A;
    --circle-phone-color: #07ACE6;
    --button-second-color-: #EB476E;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1352px;

}

.nav .container {
    display: flex;
    justify-content: space-between;

}

.nav {
    box-shadow: 0 3px 6px var(--first-shadow-color);
    text-decoration: none;

}

.nav__logo {
    font: normal normal 300 32px/37px Raleway;
    color: var(--first-color);
    display: flex;
    align-items: center;
}

.nav__menu_item {
    padding: 2em;
    display: inline-block;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3px;
}

.nav__menu_text {
    text-decoration: none;
    color: var(--third-font-color);
    padding: 28px 18px 22px;
    letter-spacing: 3px;
}

.nav__menu_text:hover {
    border-bottom: 4px solid #08A6E4;
    padding-bottom: 19px;
    color: var(--main-font-color);
}

/*-------------------------------------------------------OPENING*/
.opening {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}

.opening__container {

}

.opening__title {
    text-decoration: none;
    font: normal normal normal 49px/57px Raleway;
    color: var(--main-font-color);
}

.opening__text {
    text-decoration: none;
    font: normal normal normal 16px/22px Open Sans;
    color: var(--main-font-color);

}

.opening h1 {
    margin-top: 50px;
}

.opening p {
    margin: 20px 0 40px;
}

.opening__button {
    top: 337px;
    left: 593px;
    width: 440px;
    height: 67px;
    background: var(--first-color) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--second-shadow-color);
    border-radius: 40px;
    font: normal normal bold 16px/22px Open Sans;
    color: #FFFFFF;
    border-style: none;
    margin: 0 auto;
}

.opening__bg_image {
    background-image: url("assets/Background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 594px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------------------------------------------------STATISTICS*/
.statistic {

}

.statistic__title {
    font: normal normal normal 36px/42px Raleway;
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
    margin: 100px 0 80px;
}

.statistic_container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.statistic_column {
    display: flex;
    flex-direction: column;

}

.statistic_circle_one {
    margin: 0 auto;
    background-color: var(--second-color);
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.statistic_circle_two {
    margin: 0 auto;
    background-color: var(--first-color);
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.statistic_circle_three {
    margin: 0 auto;
    background-color: var(--third-color);
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.statistic_icon {
    margin-left: 45px;

}

.statistic_number {
    color: var(--main-font-color);
    letter-spacing: 6px;
    font: normal normal 800 20px/24px Raleway;
    text-align: center;
    margin: 20px;

}

.statistic_text {
    color: var(--third-font-color);
    font: normal normal normal 16px/19px Raleway;
    text-align: center;
    width: 130px;
    margin: 0 auto;

}

/*-------------------------------------------------------BENEFITS*/


.benefits {
    background-color: var(--second-bg-color);
    margin-bottom: 200px;
    padding-top: 200px;
}

.benefits_container {
    margin: 0 auto;
    max-width: 1352px;

}

/*-----------------------FIRST_LABEL*/
.benefits_first_tabel {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--first-border-color);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 130px;
    padding-left: 60px;
}

.benefits_title {
    font: normal normal normal 36px/42px Raleway;
    display: flex;
    flex-direction: column;
    margin-right: 500px;
}

.benefits_text {
    width: 416px;
    height: 66px;
    font: normal normal normal 16px/22px Open Sans;
    margin-top: 20px;

}

.benefits_red_line {
    width: 328px;
    border-bottom: 4px solid var(--second-color);
    margin-top: 50px;
}

.benefits_square {
    background-color: var(--second-color);
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    margin-right: 160px;
}

.benefits_laptop_icon {
    width: 386px;
    height: 219px;
    transform: rotate(-45deg);
    position: relative;
    right: 140px;
    top: 110px;
}

/*-----------------------SECOND_LABEL*/
.benefits_second_tabel {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--first-border-color);
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 50px;
}

.benefits_second_title {
    font: normal normal normal 36px/42px Raleway;
    display: flex;
    flex-direction: column;
    width: 246px;
    margin-right: 100px;
}

.benefits_second_text {
    width: 416px;
    height: 66px;
    font: normal normal normal 16px/22px Open Sans;
    margin-top: 20px;
}

.benefits_blue_line {
    width: 328px;
    border-bottom: 4px solid var(--first-color);
    margin-top: 50px;
}

.benefits_circle {
    background-color: var(--first-color);
    width: 320px;
    height: 320px;
    border-radius: 50%;

}

.benefits_phone_icon {
    width: 426px;
    height: 328px;
    margin-top: 20px;
}

/*-----------------------THIRD_LABEL*/
.benefits_third_tabel {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 130px;
}

.benefits_third_title {
    font: normal normal normal 36px/42px Raleway;
    display: flex;
    flex-direction: column;
    width: 348px;
}

.benefits_third_text {
    width: 416px;
    height: 66px;
    font: normal normal normal 16px/22px Open Sans;
    margin-top: 20px;
}

.benefits_green_line {
    width: 328px;
    border-bottom: 4px solid var(--third-color);
    margin-top: 50px;
}

.benefits_green_square {
    background-color: var(--third-color);
    width: 440px;
    height: 370px;
    border-radius: 5px;
}

.benefits_trumpet_icon {
    width: 296px;
    height: 208px;
    margin-top: 100px;
    margin-left: 70px;
}

.benefits_third_tabel_left {
    background-color: var(--main-bg-color);
    border: 1px solid var(--first-border-color);

    height: 370px;
    width: 830px;
    padding-left: 100px;
    padding-top: 70px;
    padding-right: 250px;

    justify-content: flex-end;

}

.benefits_third_tabel_right {
    width: 50%;
    justify-content: flex-end;
    /*margin-left: 260px;*/
    margin-left: 110px;


}
/*-------------------------------------------------------PRICING*/
