:root {
    --main-bg-color: #FFFFFF;
    --second-bg-color: #F7F7F7;

    --first-color: #08A6E4;
    --second-color: #FB3B64;
    --third-color: #55DFB4;

    --main-font-color: #000000;
    --second-font-color: #707070;
    --third-font-color: #A5A5A5;
    --fourth-font-color: #13253B;

    --first-border-color: #E8E9ED;

    --first-shadow-color: #00000029;
    --second-shadow-color: #07ACE629;

    --contact-line-color: #95989A;
    --circle-phone-color: #07ACE6;
    --button-second-color-: #EB476E;

}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1352px;

}

.nav .container {
    display: flex;
    justify-content: space-between;

}

.nav {
    box-shadow: 0 3px 6px var(--first-shadow-color);
    text-decoration: none;

}

.nav__logo {
    font: normal normal 300 32px/37px Raleway;
    color: var(--first-color);
    display: flex;
    align-items: center;
}

.nav__menu_item {
    padding: 2em;
    display: inline-block;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3px;
}

.nav__menu_text {
    text-decoration: none;
    color: var(--third-font-color);
    padding: 28px 18px 22px;
    letter-spacing: 3px;
}

.nav__menu_text:hover {
    border-bottom: 4px solid #08A6E4;
    padding-bottom: 19px;
    color: var(--main-font-color);
}

/*OPENING*/
.opening {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;


}
.opening__container{

}
.opening__title {
    text-decoration: none;
    font: normal normal normal 49px/57px Raleway;
    color: var(--main-font-color);
}

.opening__text {
    text-decoration: none;
    font: normal normal normal 16px/22px Open Sans;
    color: var(--main-font-color);

}
.opening h1{
    margin-top: 50px;
}
.opening p{
    margin: 20px 0 40px;
}

.opening__button {
    top: 337px;
    left: 593px;
    width: 440px;
    height: 67px;
    background: var(--first-color) 0 0 no-repeat padding-box;
    box-shadow: 5px 10px 14px var(--second-shadow-color);
    border-radius: 40px;
    font: normal normal bold 16px/22px Open Sans;
    color: #FFFFFF;
    border-style: none;
    margin: 0 auto;
}

.opening__bg_image {
    background-image: url("assets/Background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 594px;
    display: flex;
    justify-content: center;
    align-items: center;
}